/* class jumbotron styling */
.jumbotron{
    background: rgb(138, 81, 7);
    color: white;
    text-align: center;
    height: 140px;
    padding-top: 60px;
    width: 860px;
    margin-left: 40px;
    margin-bottom: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* class panel styling */
.panel{
    background: cornflowerblue;
    width: 873.19px;
    height: 30px;
    margin-left: 40px;
    color: white;
    border-radius: 5px 5px 0px 0px;

}
/* class panel-body styling */
.panel-body{
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* trainTable id styling */
#trainTable{
    width: 860px;
    padding-top: 10px;
    text-align: left;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* class table styling */
.table{
    border: solid;
    border-color: cornflowerblue;
    border-width: 0.1em;
    width: 860px;
    margin-left: 40px;
    padding-left: 10px;
    padding-top: 10px;
}
/* class form-control styling */
.form-control{
    width: 840px;
    margin-bottom: 10px; 
}
/* submit button with class trainInforBtn styling */
#trainInfoBtn{
    background: cornflowerblue;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
}
/* styling class label in form */
.label{
    font-size: 0.75em;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
th{
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
td{
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 0.8em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

